body{
    margin: 0;
    padding: 0;
    background-color: white;
    background-repeat: no-repeat;
    background-size: 100% 1000px;
    font-family: 'Open Sans Condensed', sans-serif
}
a{
    text-decoration: none;
    color: white;
} :hover{
    color: rgb(87, 80, 112);
}
img{
    width: 100%;
    height: 100%;
}
.top{
    position: absolute;
    top: 0;
    left: 0;
}
.navbar{
    padding: 0;
    margin: 0;
    height: 15%;
    position: relative;
    top: 30;
    left: 0;
    transition: 0.6s;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    color: white;
}
.quick-links{
    float: right;
}
.navbar-aligned{
    margin-top: 0em;
    padding: 0.7em;
    font-size: 2em;
    width: max-content;
}
.nav-items{
    display: inline;
    text-decoration: none;
    padding: 1.5em;
    font-weight: bold;
}
.nav-link{
    color: black;
} :hover{
    color: rgb(87, 80, 112);
}
.logo-container{
    height: 100px;
    width: 150px;
    padding: 10px;
    margin-top: 0em;
    margin-left: 2em;
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
}
.profile-card{
    perspective: 1000px;
    margin-left: 100px;
    margin-top: 150px;
    width: 300px;
    height: 500px;
}
.card{
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s ease-in-out;
}
.profile-card:hover .card{
    transform: rotateY(180deg);
}
.card figure{
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card .front{
    background-color: rgb(253, 253, 253);
    color: rgb(0, 0, 0);
}
.card .back{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transform: rotateY(180deg);
    position: absolute;
}
.card .back .icon{
    margin-right: 10px;
    height: 30px;
    width: 30px;
}
.card .back a{
    color: black;
    text-decoration: none;
}
.image-icon{
    margin-top: -5em;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    border-radius: 50px;
}
.details{
    font-family: 'PT Serif', serif;
    text-align: center;
    padding: 5px;
}
.body{
    display: flex;
    flex-direction: row;
    margin-top: 6em;
    height: 85%;
    width: 100%;
}
.stick{
    height: 10%;
    z-index: 80534;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    -webkit-transition: background-color 1s ease-in;
    transition: background-color 0.7s ease-in;
    color: black;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.project-view{
    height: fit-content;
    margin: 0 0;
    padding: 0 0;
    background-color: white;
    font-size: 30px;
    margin-bottom: 100px;
}
.projects{
    display: grid;
    grid-template-columns: 550px 550px;
    grid-template-rows: 700px 700px;
    margin-left: 8em;
    width: 70%;
    height: 70%;
    justify-content: space-between;
    row-gap: 40px;
}
.project{
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    margin-bottom: 100px;
}
.project-image{
    width: 100%;
    height: 60%;
}
.project-details{
    margin: 20px 20px;
}
.heading{
    margin-top: 100px;
    margin-left: 80px;
}
.skills{
    background-color: black;
    width: 110%;
    max-width: 100%;
    height: 900px;
    margin: 0 0;
    padding: 0 0;
}
.skills-container{
    width: 800px;
    margin: 50px auto 0;
    padding: 20px;
    color: white;
    height: 80%;
    font-size: 2em;
}
.list{
    margin-top: 100px;
}
.list li {
    color: white;
    position: relative;
    list-style: none;
    margin: 50px 0;
    font-weight: 500;
    text-transform: uppercase;
    padding: 5px;
}
.bar{
    height: 2px;
    background-color: rgb(55, 55, 224);
    width: 0px;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}
.js{
    animation-name: js;
}
@keyframes js{
    to{
        width: 90%;
    }
}
.py{
    animation-name: py;
}
@keyframes py{
    to{
        width: 90%;
    }
}
.html{
    animation-name: html;
}
@keyframes html{
    to{
        width: 80%;
    }
}
.c{
    animation-name: c;
}
@keyframes c{
    to{
        width: 70%;
    }
}
.java{
    animation-name: java;
}
@keyframes java{
    to{
        width: 60%;
    }
}
footer{
    height: 70px;
    width: 100%;
    background-color: #26272b;
}
.footer-content{
    padding-top: 10px;
    margin-right: auto;
    margin-left: auto;
    width: 45%;
    color: #737373;
    font-family: sans-serif;
}
.footer-icons{
    padding: 0;
    padding-right: 20px;
    padding-bottom: 10px;
    margin-top: -39px;
    float: right;
    height: 35px;
    width: 35px;
}
@media screen and (max-width: 1400px){
    .project-view{
        font-size: 25px;
    }
    .projects{
        margin-left: 4em;
    }
}
@media screen and (max-width: 1250px){
    .project-view{
        font-size: 25px;
    }
    .projects{
        margin-left: 4em;
    }
    .project{
        width: 70%;
    }
}
@media screen and (max-width: 1090px){
    body{
        background-image: none;
    }
    .body{
        background-color: black;
    }
    .project-view{
        font-size: 30px;
    }
    .projects{
        margin-left: 6em;
        grid-template-columns: 550px;
        grid-template-rows: 700px 700px 700px 700px;
    }
    .project{
        width: 100%;
    }
    .quick-links{
        display: none;
    }
    .logo-container{
        margin-left: auto;
        margin-right: auto;
        color: black;
    }
}
@media screen and (max-width: 855px){
    .profile-card{
        margin-right: auto;
        margin-left: auto;
    }
    .projects{
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: 100%;
    }
    .footer-content{
        width: 80%;
    }
    .skills-container{
        width: 70%;
    }
}
@media screen and (max-width: 550px){
    .logo-container{
        margin-top: 0;
        font-size: 60px;
        margin-bottom: 20px;
    }
    .navbar{
        top: 0;
    }
    .stick{
        transition: none;
        position: relative;
        top: 30;
        margin-bottom: 0;
    }
    .project-view{
        width: 100%;
    }
    .projects{
        margin: 0px 0px;
    }
    .project{
        width: 150%;
    }
    .footer-content{
        margin-left: 3px;
        width: 100%;
        font-size: 15px;
    }
    .heading{
        margin: 50px 0;
        text-align: center;
    }
    .body{
        margin-top: 0px;
    }
    .stick{
        height: 15%;
    }
}