body{
    margin: 0;
    padding: 0;
    background-color: white;
    background-image: url(https://i.pinimg.com/originals/6e/3a/d0/6e3ad0f9192c1578842f5f78facbd229.jpg);
    background-repeat: no-repeat;
    background-size: 100% 1000px;
    font-family: 'Open Sans Condensed', sans-serif
}
a{
    text-decoration: none;
    color: white;
} :hover{
    color: rgb(87, 80, 112);
}
img{
    width: 100%;
    height: 100%;
}
.top{
    position: absolute;
    top: 0;
    left: 0;
}
.navbar{
    padding: 0;
    margin: 0;
    height: 10%;
    position: fixed;
    top: 30;
    left: 0;
    transition: 0.6s;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    color: white;
    height: 15%;
}
.quick-links{
    float: right;
}
.navbar-aligned{
    margin-top: 0em;
    padding: 20px;
    font-size: 2em;
    width: max-content;
}
.nav-items{
    display: inline;
    text-decoration: none;
    padding: 1.5em;
    font-weight: bold;
}
.nav-link{
    color: black;
} :hover{
    color: rgb(87, 80, 112);
}
.logo-container{
    height: 100px;
    width: 150px;
    padding: 15px;
    margin-left: 15px;
    margin-top: 0em;
    margin-left: 3em;
    font-size: 3em;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
}
.profile-card{
    perspective: 1000px;
    margin-left: 100px;
    margin-top: 150px;
    width: 300px;
    height: 500px;
}
.card{
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s ease-in-out;
}
.profile-card:hover .card{
    transform: rotateY(180deg);
}
.card figure{
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card .front{
    background-color: rgb(253, 253, 253);
    color: rgb(0, 0, 0);
}
.card .back{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transform: rotateY(180deg);
    position: absolute;
}
.card .back .icon{
    margin-right: 10px;
    height: 30px;
    width: 30px;
}
.card .back a{
    color: black;
    text-decoration: none;
}
.image-icon{
    margin-top: -5em;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    border-radius: 50px;
}
.details{
    font-family: 'PT Serif', serif;
    text-align: center;
    padding: 5px;
}
.body{
    display: flex;
    flex-direction: row;
    margin-top: 10em;
    height: 85%;
    width: 100%;
}
.stick{
    height: 10%;
    z-index: 80534;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    -webkit-transition: background-color 1s ease-in;
    transition: background-color 0.7s ease-in;
    color: black;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.project-view{
    height: fit-content;
    margin: 0 0;
    padding: 0 0;
    background-color: white;
    font-size: 2em;
    margin-bottom: 100px;
}
.projects{
    display: grid;
    grid-template-columns: 550px 550px;
    grid-template-rows: 700px 700px;
    margin-left: 8em;
    width: 70%;
    height: 70%;
    justify-content: space-between;
    row-gap: 40px;
}
.project{
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    margin-bottom: 100px;
}
.project-image{
    width: 100%;
    height: 60%;
}
.project-details{
    margin: 20px 20px;
}
.heading{
    margin-top: 100px;
    margin-left: 80px;
}
.skills{
    background-color: black;
    width: 110%;
    max-width: 100%;
    height: 900px;
    margin: 0 0;
    padding: 0 0;
}
.skills-container{
    width: 800px;
    margin: 50px auto 0;
    padding: 20px;
    color: white;
    height: 80%;
    font-size: 2em;
}
.list{
    margin-top: 100px;
}
.list li {
    color: white;
    position: relative;
    list-style: none;
    margin: 50px 0;
    font-weight: 500;
    text-transform: uppercase;
    padding: 20px;
}
.list li:before {
    content: "";
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 100%;
    height: 15px;
    background-color: rgba(54, 126, 223, .5);
    border-radius: 1000px;
}
.list li:after{
    content: "";
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 0;
    height: 15px;
    background-color: rgba(54, 126, 223, 1);
    border-radius: 1000px;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
.list li.js:after {
    animation-name: js;
}
@keyframes js {
    to {
        width: 90%;
    }
}
.list li.py:after {
    animation-name: py;
}
@keyframes py {
    to {
        width: 90%;
    }
}
.list li.html:after {
    animation-name: html;
}
@keyframes html {
    to {
        width: 75%;
    }
}
.list li.c:after {
    animation-name: c;
}
@keyframes c {
    to {
        width: 60%;
    }
}
.list li.java:after {
    animation-name: java;
}
@keyframes java {
    to {
        width: 50%;
    }
}